<div id="target">

    <div class="mainDiv">
        <img src="../../assets/Star_Wars_Logo.svg.png" alt="nan">
        <h5 class="card-title">Episode {{starWarsMovie?.episode_id}}</h5>
        <div class="container w-50">
            <p class="card-text">
                <strong>Director:</strong> {{starWarsMovie?.director}}<br>
                <strong>Producer:</strong> {{starWarsMovie?.producer}}<br>
                <strong>Release Date:</strong> {{starWarsMovie?.release_date}}
            </p>
            <p class="card-text fw-bold fw-bolder">
                <strong>Opening Crawl:</strong><br>
                {{starWarsMovie?.opening_crawl}}
            </p>
        </div>

    </div>
</div>
