<div class="border border-dark rounded-3 w-75 shadow p-4 mx-auto mt-5" style="background-color: #f8f9fa;">
    <h3 class="mb-4 text-center text-dark">my-inner works!</h3>
    <div class="d-flex justify-content-center mb-4">
        <button class="btn btn-success btn-lg m-2" (click)="increment()" style="background-color: #61bd4f;">+1</button>
        <button class="btn btn-danger btn-lg m-2" (click)="decrement()" style="background-color: #e44d26;">-1</button>
    </div>
    <p class="text-center fs-4">inner total: {{innerCounter}}</p>
</div>